<app-section-wrapper parts="one" textAlign="left" backgroundColor="light">
  <div>
    <h2>
      <div class="subtitle">
        Get Started
      </div>
    </h2>
  </div>
  <div class="get-started-wrapper">
    <div style="width: 100%; display: flex; flex-direction: column; gap: 18px;">
      @for (getStartedStep of getStartedSteps; let index = $index; track $index) {
        <div (click)="lastSelectedStepIndex = index" [class.active]="lastSelectedStepIndex === index" class="get-started-card">
          <h3 class="title">
            <span class="index">{{index + 1}}.</span> {{getStartedStep.title}}
          </h3>
          <div [innerHTML]="getStartedStep.description">
          </div>
        </div>
      }
    </div>
    <div *ngIf="terminalMessages[lastSelectedStepIndex].length > 0" class="background-transparent-gradient">
      <div class="terminal-wrapper">
        <div style="margin-bottom: 1rem; display: flex;">
          <div class="terminal-circle" style="background-color: var(--p-primary-color);"></div>
          <div class="terminal-circle" style="background-color: #FBBF24; margin-left: 1rem;"></div>
          <div class="terminal-circle" style="background-color: var(--p-secondary-color); margin-left: 1rem;"></div>
        </div>
        @for (terminalMessage of terminalMessages[lastSelectedStepIndex]; track $index) {
          <code style="margin-top: 1rem; display: flex; align-items: center;">
            <span class="terminal-message">
              <div>
                <span style="color: var(--p-primary-400);">$</span>
                  {{terminalMessage.text}}
                </div>
                <p-button (onClick)="copyTerminalMessageToClipboard(terminalMessage)" *ngIf="terminalMessage.showCopyButton" [icon]="terminalMessage.icon ?? 'pi pi-copy'" [outlined]="true" size="small">
                </p-button>
              </span>
          </code>
        }
      </div>
    </div>
    <div *ngIf="terminalMessages[lastSelectedStepIndex].length === 0" class="background-transparent-gradient">
      <div class="terminal-wrapper">
        <div>
          <h4 class="title">Mandatory Prerequisites</h4>
          <ul style="margin-bottom: 20px;">
            <li><a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" target="_blank" rel="noopener noreferrer">SQL Server (Free Developer Edition)</a></li>
            <li><a href="https://nodejs.org/en/download/" target="_blank" rel="noopener noreferrer">Node.js</a></li>
            <li>Angular CLI: <span class="code-block">npm install -g &#64;angular/cli</span></li>
            <li>
              Code Editors (Recommended):
              <ul>
                <li>Backend: <a href="https://visualstudio.microsoft.com/downloads/" target="_blank" rel="noopener noreferrer">Visual Studio (Community Edition)</a></li>
                <li>Frontend: <a href="https://code.visualstudio.com/download" target="_blank" rel="noopener noreferrer">Visual Studio Code</a></li>
              </ul>
            </li>
            <li><a href="https://dotnet.microsoft.com/en-us/download" target="_blank" rel="noopener noreferrer">.NET 9.0</a> (if you have installed Visual Studio, you can skip this step)</li>
            <li>EF Core CLI: <span class="code-block">dotnet tool install -g dotnet-ef</span></li>
          </ul>
          <h4 class="title">Optional Recommended Tools</h4>
          <ul style="margin-bottom: 5px;">
            <li><a href="https://learn.microsoft.com/en-us/ssms/download-sql-server-management-studio-ssms#download-ssms" target="_blank" rel="noopener noreferrer">SQL Server Management Studio</a></li>
            <li>Visual Studio Code Extension: <a href="https://marketplace.visualstudio.com/items?itemName=Angular.ng-template" target="_blank" rel="noopener noreferrer">Angular Language Service</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-section-wrapper>