<!-- <app-section-wrapper parts="two">
  <div class="background-transparent-gradient" style="flex: 1;">
    <div class="terminal-wrapper">
      <div style="margin-bottom: 1rem; display: flex;">
        <div class="terminal-circle" style="background-color: #EC4899;"></div>
        <div class="terminal-circle" style="background-color: #FBBF24; margin-left: 1rem;"></div>
        <div class="terminal-circle" style="background-color: #10B981; margin-left: 1rem;"></div>
      </div>
      @for (message of terminalMessages; track $index) {
        <code style="margin-top: 1rem; display: flex;">
            <span style="color: #f170b1;">$</span>
            <span class="terminal-message">
                {{message}}
                <br />
            </span>
        </code>
      }
    </div>
  </div>
  <div>

  </div>
</app-section-wrapper> -->

<!-- <div style="background-color: #10B981;width:300px;height:200px;">

</div> -->