@use "../../../../assets/variables.scss" as vars;

.background-transparent-gradient {
  width: 100%;
  height: fit-content;
}

.terminal-wrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  font-size: 0.875rem;
  background-color: var(--p-surface-900);
  border: 1px solid var(--p-surface-700);
  border-radius: var(--p-content-border-radius);
  line-height: 1.5;
  overflow: hidden;
}

.terminal-circle {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.terminal-message {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 0.5rem;
}

//#region Steps

.get-started-card {
  cursor: pointer;
  height: fit-content;
  padding: 18px;
  background-color: var(--p-surface-900);
  border-radius: var(--p-content-border-radius);
  border: 1px solid var(--p-surface-700);

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;

    .index{
      color: var(--p-primary-color);
    }
  }
}

.get-started-card.active {
  border: 1px solid var(--p-primary-color);
}

.get-started-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: vars.$md) {
  .get-started-wrapper {
    flex-direction: column;
  }
}


//#endregion
