<div style="width: 100%;" [ngClass]="{
	'last-child-zero-margin': last,
    'card-margin-bottom': true,
	}">
	<spiderly-panel [crudMenu]="crudMenu" [showCrudMenu]="showCrudMenu" (onMenuIconClick)="menuIconClick($event)" [showRemoveIcon]="showRemoveIcon" (onRemoveIconClick)="removeIconClick()" [index]="index">
		<panel-header [title]="header" [index]="index" [showIcon]="false"></panel-header>
		
		<panel-body>
			<ng-content>
				<!-- Custom things below description -->
			</ng-content>
		</panel-body>
		
	</spiderly-panel>
</div>
