@use '../../../assets/variables.scss' as vars;

.pricing-wrapper {
    display: flex;
    flex-direction: row;
    gap: 36px;

    @media (max-width: vars.$page-width) {
        flex-direction: column;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    text-align: center;

    .title {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.1;

        @media (min-width: 1024px) {
            font-size: 3rem;
        }
    }

    .subtitle {
        color: var(--p-surface-500);
        font-size: 1.125rem;
        line-height: 1.4;
    }
}

.plans {
    display: flex;
    justify-content: center;
    gap: 36px;

    .plan-card {
        flex: 1;
        max-width: 500px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;

        background-color: var(--p-surface-900);
        color: var(--p-surface-0);
        border: 1px solid var(--p-content-border-color);
        border-radius: var(--p-content-border-radius);
        overflow: auto;

        .features-list span {
            color: var(--p-surface-100);
        }

        hr {
            height: 1px;
            border: none;
            background-color: var(--p-content-border-color);
            margin: 0px;
        }

        .plan-price {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            span.price {
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.1;
            }
        }

        .features-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
            margin: 0;
            flex-grow: 1;

            i {
                color: var(--p-secondary-color);
            }
            hr {
                margin: 10px 0px;
            }
            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                line-height: 1;
            }

            .features-list {
                gap: 1rem;
                margin-left: 9px;
                i {
                    color: var(--p-text-color);
                }
            }
        }
    }
}
