<app-section-wrapper textAlign="center" >
  <div>
    <h1 style="margin-bottom: 15px">
      <div class="gradient-title">
        Welcome to Playground.
      </div>
      <div class="title">
        Try Spiderly Live.
      </div>
    </h1>
    <div class="text-below-title">
      Here you can test and play with Spiderly functionalities. Please note that the functionalities are quite limited compared to everything in the real product.
    </div>
  </div>
</app-section-wrapper>

<app-section-wrapper parts="one" textAlign="left" backgroundColor="light">
  <div>
    <h2 style="margin-bottom: 15px;">
      <div class="subtitle">
        App Demo
      </div>
    </h2>
    <div class="text-below-subtitle">
      Here is the result of the C# classes initialized in the section below. 
      Change the classes yourself, save them and see live changes here.
    </div>
  </div>
  
  <div class="web-app">
    <app-layout [menu]="menu" [entities]="entities"></app-layout>
  </div>
</app-section-wrapper>

<app-section-wrapper parts="one" textAlign="left">

  <div>
    <h2 style="margin-bottom: 15px;">
      <div class="subtitle">
        Describing the App
      </div>
    </h2>
    <div class="text-below-subtitle">
      Here, we are describing the app using C# classes, properties and attributes.
      After the class save, any changes made here will be reflected in the 'App Demo' section above. 
      We helped you a little bit with 1. User and 2. Gender classes, but if you want delete them and start fresh.
    </div>
  </div>

  <form style="width: 100%;">
    @for (entityFormGroup of getFormArrayGroups(entitiesFormArray); track $index; let entityIndex = $index) {
      <index-card 
      [index]="entityIndex" 
      [last]="false" 
      [crudMenu]="entitiesCrudMenu" 
      (onMenuIconClick)="lastEntitiesMenuIconIndexClicked.index = $event"
      [collapsed]="entityFormGroup.controls.collapsed.value"
      >
        <div class="playground-code-block-wrapper">

          <div style="width: 100%;">
            <app-class-form
            [entities]="entities"
            [menu]="menu"
            [entityFormGroup]="entityFormGroup"
            [entityIndex]="entityIndex"
            [cSharpDataTypeOptions]="cSharpDataTypeOptions"
            ></app-class-form>
          </div>

          <div class="class-code-editor">
            <app-class-code-editor
            [entityFormGroup]="entityFormGroup"
            ></app-class-code-editor>
          </div>

        </div>
        <p-button (onClick)="saveEntityFormGroup(entityFormGroup, entityIndex)" label="Save" icon="pi pi-save"></p-button>
      </index-card>
    }
    <p-button (onClick)="addNewEntity()" label="Add new class" icon="pi pi-plus"></p-button>
  </form>

</app-section-wrapper>
