<div class="header-wrapper">
  <div class="header">
    <div (click)="isSideMenuActive = false" [routerLink]="['/']" class="header-logo">
      <img style="display: flex; justify-content: center;" width="45" height="45" src="assets/spiderly-logo.svg" alt="Spiderly Logo" title="Spiderly Logo"/>
      <span style="font-weight: 400">SPIDERLY</span>
    </div>

    <nav class="header-desktop desktop-only">
      <a [routerLink]="['/playground']" class="icon-link no-underline" title="Go to Playground">Playground</a>
      <a [routerLink]="['/faq']" class="icon-link no-underline" title="Go to FAQ">FAQ</a>
      <a [routerLink]="['/docs/getting-started']" class="icon-link no-underline" title="Go to Docs">Docs</a>
    </nav>

    <nav class="mobile-only" style="display: flex; align-items: center">
      @if(isSideMenuActive){
      <i (click)="toggleSideMenu()" style="font-size: 1.2rem;" class="icon-link pi pi-times"></i>
      } @else{
      <i (click)="toggleSideMenu()" style="font-size: 1.2rem;" class="icon-link pi pi-bars"></i>
      }
    </nav>
  </div>
</div>

<div
  class="side-menu mobile-only {{ isSideMenuActive ? 'side-menu-open' : '' }}"
>
  <a (click)="isSideMenuActive = false" [routerLink]="['/playground']" class="side-menu-link no-underline" title="Go to Playground">Playground</a>
  <a (click)="isSideMenuActive = false" [routerLink]="['/faq']" class="side-menu-link no-underline" title="Go to FAQ">FAQ</a>
  <a (click)="isSideMenuActive = false" [routerLink]="['/docs/getting-started']" class="side-menu-link no-underline" title="Go to Docs">Docs</a>
</div>
