<app-section-wrapper parts="one" textAlign="left" id="word-from-a-founder">
  <div>
    <h2>
      <div class="subtitle">A Word from the Founder</div>
    </h2>
  </div>
  <div class="quotation-wrapper">
    <div>
      <div style="width: 200px; height: 200px">
        <img
          style="
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid var(--p-surface-700);
          "
          src="assets/filip-trivan-profile-photo.png"
          alt="Filip Trivan Profile Photo"
        />
      </div>
    </div>
    <q class="text-below-subtitle quotation" style="quotes: none;">
      <div style="margin-bottom: 18px">
        If you choose to use the Spiderly library, you have my full support.
        Just open an
        <a
          href="https://github.com/filiptrivan/spiderly/issues"
          target="_blank"
          rel="noopener noreferrer"
          >issue</a
        >
        or start a
        <a
          href="https://github.com/filiptrivan/spiderly/discussions"
          target="_blank"
          rel="noopener noreferrer"
          >discussion</a
        >
        on GitHub, and I'll respond within a few hours.
      </div>
      <div style="margin-bottom: 18px">
        Through my work in companies and side projects, I saw the need for a
        tool to generate tedious boilerplate code. Especially in the era of
        LLMs and <q style="quotes: initial;">vibe coding</q>, which, in my view, still lack the ability to
        build deeply structured projects, Spiderly helps by letting you
        isolate small chunks of specific business logic. You can then ask LLMs
        to assist you more effectively.
      </div>
      <div>
        Unlike most generators that are only useful at the start of a project,
        Spiderly allows you to work incrementally. You can evolve your models
        and application structure naturally over time without needing to plan
        everything from the beginning.
      </div>
    </q>
  </div>
</app-section-wrapper>
