@use '../../../../assets/variables.scss' as vars;

.quotation-wrapper {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

@media (max-width: vars.$md) {
  .quotation-wrapper {
    flex-direction: column;
  }
}
