<app-section-wrapper parts="one" textAlign="left" id="word-from-a-founder">
  <div>
    <h2>
      <div class="subtitle">A Word from the Founder</div>
    </h2>
  </div>
  <div class="quotation-wrapper">
    <div>
      <div style="width: 200px; height: 200px">
        <img
          style="
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid var(--p-surface-700);
          "
          src="assets/filip-trivan-profile-photo.webp"
          alt="Filip Trivan Profile Photo"
        />
      </div>
    </div>
    <q class="text-below-subtitle quotation" style="quotes: none">
      <div style="margin-bottom: 18px">
        Through my work in companies and side projects, I saw the need for a
        tool to generate repetitive boilerplate code. The things I wrote over
        and over again caused me stress because I wasn't learning anything new.
        This was especially frustrating if I made a simple mistake during that
        manual work, or worse, had to do a code review for someone with a
        completely different writing style than mine.
      </div>

      <div style="margin-bottom: 18px">
        Spiderly is valuable in the era of LLMs like ChatGPT, Grok, and Claude
        because these tools, still lack the ability to build deeply structured
        projects. Spiderly handles the big picture and helps by letting you
        isolate small chunks of specific business logic, for which you can then
        ask LLMs to assist you more effectively.
      </div>

      <div style="margin-bottom: 18px">
        Unlike most generators that are only useful at the beginning of a
        project, Spiderly allows you to work incrementally. You can evolve your
        models and application structure naturally over time without needing to
        know everything upfront.
      </div>
      <div>
        If you choose to use the Spiderly library, you have my full support.
        Just open an
        <a
          href="https://github.com/filiptrivan/spiderly/issues"
          target="_blank"
          rel="noopener noreferrer"
          >issue</a
        >
        or start a
        <a
          href="https://github.com/filiptrivan/spiderly/discussions"
          target="_blank"
          rel="noopener noreferrer"
          >discussion</a
        >
        on GitHub, and I'll respond within a few hours.
      </div>
    </q>
  </div>
</app-section-wrapper>
