<app-section-wrapper backgroundColor="dark" textAlign="center">
  <div>
    <h1 style="margin-bottom: 15px">
      <div class="gradient-title">404</div>
      <div class="title">Page Not Found</div>
    </h1>
    <div class="text-below-title" style="margin-bottom: 30px">
      The page you're looking for doesn't exist or has been moved.
      Let's get you back on track to generating your web apps with Spiderly.
    </div>
    <div>
      <p-button [routerLink]="['/']" label="Go to Homepage"></p-button>
    </div>
  </div>
</app-section-wrapper>