<div style="display: flex; flex-direction: column; gap: 0.5rem;">

  <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
    <!-- tabindex="-1": Makes the element focusable, but removes it from the tab order. -->
    <i *ngIf="showTooltip" class="{{tooltipIcon}}" style="margin-left: 5px; cursor: pointer;" [pTooltip]="tooltipText" tabindex="-1" tooltipEvent="focus"></i>
  </div>

  <!-- FT: Dropdown doesn't support tooltip event, but it can only has not empty validation, so for now it's okay to not show validation message on dropdown ever -->
  <div class="p-inputgroup">
    <p-select
    *ngIf="control"
    [pTooltip]="getValidationErrrorMessages()" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid" 
    [id]="label"
    [formControl]="control"
    [placeholder]="placeholder"
    [options]="options"
    optionLabel="label"
    optionValue="value"
    [showClear]="true"
    (onHide)="dropdownMarkAsDirty()"
    (onChange)="change($event)"
    appendTo="body"
    [fluid]="true"
    />
    <span *ngIf="showAddon" (click)="addonClick()" class="p-inputgroup-addon" style="cursor: pointer; background-color: var(--primary-color); border-color: var(--primary-color);">
      <i class="pi {{addonIcon}}" style="color: #fff;"></i>
    </span>
  </div>
  
</div>