@use "../../../../../../assets/variables.scss" as vars;

@mixin focused() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.1rem vars.$highlight;
}

@mixin focused-inset() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 0 0 0.1rem vars.$highlight;
}

//#region TOPBAR

.layout-topbar {
  position: fixed;
  height: 4.5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: vars.$surface;
  transition: left 0.2s;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0px 0px;

  .layout-topbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    width: 220px;
    border-radius: 12px;
  }

  .layout-menu-button {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      color: vars.$primary-color;
      background-color: vars.$hover;
    }

    &:focus {
      @include focused();
    }

    i {
      font-size: 1.2rem;
    }
  }

  .profile-button {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
  }
}

.gray-separator {
  border-top: 1px solid vars.$surface-lighter;
  width: 100%;
}

.hover-card {
  padding: 8px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.hover-card:hover {
  background-color: vars.$hover;
}

.card {
  background: vars.$surface-light;
  border: 1px solid vars.$surface;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: #000;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

//#endregion

//#region LAYOUT

@media (min-width: 992px) {
  .layout-wrapper {
    height: 100%;

    &.layout-static {
      .layout-main-container {
        margin-left: 220px;
      }

      &.layout-static-inactive {
        .layout-sidebar {
          transform: translateX(-400%);
          left: 0;
        }

        .layout-main-container {
          margin-left: 0;
          padding-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-main-container {
      margin-left: 0;
      padding-left: 2rem;
    }

    .layout-sidebar {
      transform: translateX(-400%);
      left: 0;
      top: 0;
      height: 100%;
      z-index: 999;
    }

    &.layout-mobile-active {
      .layout-sidebar {
        transform: translateX(0);
      }
    }
  }
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  // height: 500px;
  height: 100%;
  justify-content: space-between;
  padding: 6.5rem 2rem 2rem 4rem;
  transition: margin-left 0.2s;
}

.layout-main {
  flex: 1 1 auto;
  overflow-y: auto;
}

//#endregion

//#region SIDEBAR

.layout-sidebar {
  position: fixed;
  width: 220px;
  height: calc(100% - 8.5rem);
  overflow-y: auto;
  user-select: none;
  top: 6.5rem;
  left: 2rem;
  transition: transform 0.2s, left 0.2s;
  background-color: vars.$surface;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-menuitem {
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: vars.$text-color;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;

  .layout-menuitem-icon {
    margin-right: 0.5rem;
  }

  &.active-route {
    font-weight: 700;
    color: vars.$primary-color;
  }

  &:hover {
    background-color: vars.$hover;
  }

  &:focus {
    @include focused-inset();
  }
}

//#endregion
