<div class="layout-wrapper" [ngClass]="containerClass">
    <topbar></topbar>

    <div class="layout-sidebar">
        <sidebar-menu [menu]="menu" (onMenuItemSelect)="menuItemSelectChange($event)"></sidebar-menu>
    </div>

    <div class="layout-main-container">
        <div class="layout-main">
            <div *ngIf="lastSelectedEntity == null">Welcome!</div>
            <app-table 
            *ngIf="isTableSelected && lastSelectedEntity != null" 
            [data]="lastSelectedEntity.data" 
            [cols]="lastSelectedEntity.properties"
            [tableTitle]="lastSelectedEntity.name + 'List'"
            ></app-table>
        </div>
    </div>
</div>
