<app-section-wrapper backgroundColor="light" id="key-benefits">
  <div>
    <h2>
      <div class="subtitle">
        Key Benefits
      </div>
    </h2>
  </div>
  <div class="key-grid">
    @for (keyBenefit of keyBenefits; let index = $index; track $index) {
      <div class="key-card card">
        <div class="key-title-wrapper">
          <i class="key-icon {{keyBenefit.icon}}"></i>
          <h3 class="key-title">
            {{keyBenefit.title}}
          </h3>
        </div>
        <div [innerHTML]="keyBenefit.description">
        </div>
      </div>
    }
  </div>
</app-section-wrapper>