<div style="display: flex; flex-direction: column; gap: 0.5rem;">
  <div>
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <p-password
    *ngIf="control"
    [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
    [formControl]="control"
    [id]="control?.label"
    [toggleMask]="true"
    [feedback]="showPasswordStrength"
    (onBlur)="control?.markAsDirty()"
    [style]="{'width':'100%'}"
    [inputStyle]="{'width':'100%'}"
    />
  </div>
