<ng-container *transloco="let t">
  <div class="flex flex-column gap-2">
    <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
      <label>{{getTranslatedLabel()}}</label>
      <required *ngIf="control?.required"></required>
    </div>
  
    <div class="p-inputgroup p-fluid">
      <p-autoComplete
      *ngIf="control"
      [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
      [id]="label"
      [formControl]="control"
      [placeholder]="placeholder"
      [suggestions]="options"
      optionLabel="label"
      optionValue="value"
      (completeMethod)="search($event)"
      [forceSelection]="true"
      [dropdown]="false"
      [showClear]="showClear"
      (onHide)="dropdownMarkAsDirty()"
      (onSelect)="select($event)"
      [completeOnFocus]="true"
      [style]="{'width':'100%', 'position' : 'relative'}"
      [inputStyle]="{'width':'100%'}"
      [appendTo]="appendTo"
      [emptyMessage]="emptyMessage"
      [lazy]="true"
      />
      <span *ngIf="showAddon" (click)="addonClick()" class="p-inputgroup-addon" style="cursor: pointer; background-color: var(--primary-color); border-color: var(--primary-color);">
        <i class="{{addonIcon}}" style="color: #fff;"></i>
      </span>
    </div>
  </div>
</ng-container>