<!-- Can't put (onBlur) in this control -->

<div class="flex flex-column gap-2">
  <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <div style="display: flex; gap: 10px;">
    <div class="p-inputgroup p-fluid">
      <!-- <span class="p-inputgroup-addon">
        #
      </span> -->
      <input
      *ngIf="control"
      [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
      pInputText
      [placeholder]="placeholder"
      [style]="{'width':'100%', 'position': 'relative'}"
      [formControl]="control"
      [id]="control.label"
      (blur)="control.markAsDirty()"
      />
  </div>
    <p-colorPicker
    *ngIf="control"
    [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
    [formControl]="control"
    [id]="control.label"
    (blur)="control.markAsDirty()"
    appendTo="body"
    ></p-colorPicker>
  </div>
</div>