.icon-hover {
	cursor: pointer;
	padding: 7px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.icon-hover:hover {
	background-color: var(--p-surface-800);
}

::ng-deep .no-underline-menu {
  .p-menuitem a.p-menuitem-link:hover,
  .p-menu-item a.p-menu-item-link:hover,
  a.p-menuitem-link:hover,
  a.p-menu-item-link:hover {
    text-decoration: none !important;
  }
}