<spiderly-panel>
    <panel-header></panel-header>

    <panel-body>
        <form class="grid">
            <div class="col-12">
                <!-- <spiderly-textbox [control]="control('name', formGroup)"></spiderly-textbox> -->
            </div>
            <div class="col-12">
                <!-- <spiderly-textarea [control]="control('description', formGroup)"></spiderly-textarea> -->
            </div>
            <div class="col-12">
                <!-- <spiderly-multiautocomplete [control]="selectedUsersForRole" [options]="usersForRoleOptions" (onTextInput)="searchUsersForRole($event)" label="Users"></spiderly-multiautocomplete> -->
            </div>
            <div class="col-12">
                <!-- <spiderly-multiselect [control]="selectedPermissionsForRole" [options]="permissionsForRoleOptions" label="Permissions"></spiderly-multiselect> -->
            </div>
        </form>

    </panel-body>

    <panel-footer>
        <!-- <p-button (onClick)="save()" label="Save" icon="pi pi-save"></p-button>
        <p-button (onClick)="onReturn()" label="Return" icon="pi pi-undo" [outlined]="true"></p-button> -->
    </panel-footer>
</spiderly-panel>