.spiderly-panel-footer{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 10px; 
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1rem;
}