.spiderly-panel-footer{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 10px; 
    border-top: 1px solid var(--p-surface-700);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 18px;
    margin-top: 9px;
}

.buttons-wrapper{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}