::ng-deep {
  .docs-table {
    width: 100%;
    border-collapse: collapse;
  }

  .docs-table th,
  .docs-table td {
    border: 1px solid var(--p-content-border-color);
    padding: 8px;
    text-align: left;
  }
}
