<app-section-wrapper>
    <info-card header="Your Payment Was Processed!" icon="pi pi-check-circle" [showSmallIcon]="true">
        <div style="margin-bottom: 22px;">
            Your payment has been successfully processed. Please check your subscription status, there may be a short delay. If your subscription isn't active within a few minutes, contact support at hello&#64;spiderly.dev.
        </div>
        <p-button label="Check Subscription" routerLink="/subscriptions"></p-button>
    </info-card>
</app-section-wrapper>