<!-- Can't put (onBlur) in this control -->

<div style="display: flex; flex-direction: column; gap: 0.5rem;">
  <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <div style="display: flex; gap: 10px; align-items: center;">
    <div>
      <input
      *ngIf="control"
      [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
      pInputText
      [placeholder]="placeholder"
      [style]="{'position': 'relative'}"
      [formControl]="control"
      (blur)="control.markAsDirty()"
      [fluid]="true"
      />
  </div>
    <p-colorpicker
    *ngIf="control"
    [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
    [formControl]="control"
    [id]="control.label"
    (blur)="control.markAsDirty()"
    appendTo="body"
    ></p-colorpicker>
  </div>
</div>