<app-section-wrapper
  parts="one"
  textAlign="left"
  backgroundColor="light"
  id="key-features"
>
  <div>
    <h2 style="margin-bottom: 15px;">
      <div class="subtitle">Key Generation Features</div>
    </h2>
    <div class="text-below-subtitle">
      The generator is guided by attributes applied to EF Core entities and their properties.
    </div>
  </div>
  <div class="key-features-wrapper">
    @for (keyFeature of keyFeatures; let index = $index; track $index) {
    <div class="key-feature-card">
      <div style="display: flex; gap: 8px">
        <i class="icon {{ keyFeature.icon }}"></i>
        <h3 class="title">
          {{ keyFeature.title }}
        </h3>
      </div>
      <div [innerHTML]="keyFeature.description"></div>
    </div>
    }
  </div>
</app-section-wrapper>
