@use "../../../../assets/variables.scss" as vars;

.key-features-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.key-feature-card {
  width: 32.218%;
  // width: 49.165%;
  padding: 18px;
  border-radius: var(--p-content-border-radius);
  border: 1px solid var(--p-surface-700);

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .icon{
    font-size: 1.5rem;
    color: var(--p-secondary-color);
  }
}

@media (max-width: 1130px) {
  .key-feature-card{
    width: 100%;
  }
}

::ng-deep ul { 
  margin-bottom: 0px !important;
}