.vertical-separator {
  border-left: 1px solid var(--p-surface-700);
  height: 55px;
}

.key-card {
  .key-title-wrapper {
    display: flex;
    gap: 8px;

    .key-icon {
      font-size: 1.5rem;
      color: var(--p-secondary-color);
    }

    .key-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.key-grid {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1080px) {
  .key-grid {
    gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .key-grid {
    grid-template-columns: 1fr;
  }
}
