<!-- Can't put (onBlur) in this control -->

<div style="display: flex; flex-direction: column; gap: 0.5rem;">
  <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <div class="p-inputgroup">
    <input
      *ngIf="control"
      [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
      pInputText
      [formControl]="control"
      (blur)="control.markAsDirty()"
      [placeholder]="placeholder"
      [fluid]="true"
      />
      <span *ngIf="showButton" (click)="buttonClick()" class="p-inputgroup-addon" style="cursor: pointer; background-color: var(--primary-color); border-color: var(--primary-color);">
        <i class="pi {{buttonIcon}}" style="color: #fff;"></i>
      </span>
  </div>
</div>