<div style="display: flex; flex-direction: column; gap: 0.5rem;">
  <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <p-inputnumber
  *ngIf="control"
  [formControl]="control"
  [pTooltip]="getValidationErrrorMessages()" 
  [tooltipEvent]="errorMessageTooltipEvent" 
  tooltipPosition="bottom" 
  [tooltipDisabled]="control.valid" 
  tooltipStyleClass="spiderly-tooltip-invalid"
  [prefix]="prefix"
  (onBlur)="control.markAsDirty()"
  [style]="{'width':'100%'}"
  [inputStyle]="{'width':'100%'}"
  [showButtons]="showButtons"
  buttonLayout="horizontal"
  mode="decimal"
  [maxFractionDigits]="maxFractionDigits"
  />
</div>