.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--background);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidemenu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: var(--background);
  color: white;
  z-index: 1001;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.sidemenu.open {
  transform: translateY(0);
}
