@use "../../../../assets/variables.scss" as vars;

.key-benefits-wrapper{
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: vars.$md) {
  .key-benefits-wrapper{
    flex-direction: column;
  }
}

.key-benefit-card {
  width: 100%;
  padding: 18px;
  background-color: var(--p-surface-900);
  border-radius: var(--p-content-border-radius);
  border: 1px solid var(--p-surface-700);

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .icon{
    font-size: 1.5rem;
    color: var(--p-primary-color);
  }
}

