.key-benefit-card {
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .icon{
    font-size: 1.5rem;
    color: var(--p-secondary-color);
  }
}

.key-benefit-grid {
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1080px) {
    .key-benefit-grid {
        gap: 12px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .key-benefit-grid {
        grid-template-columns: 1fr;
    }
}