<app-section-wrapper parts="one" textAlign="left" backgroundColor="light" id="key-benefits">
  <div>
    <h2>
      <div class="subtitle">
        Key Benefits
      </div>
    </h2>
    <!-- <div class="text-below-subtitle">
      After completing these steps, you can fully use the Spiderly library and all its functionalities.
    </div> -->
  </div>
  <div class="key-benefits-wrapper">
    @for (keyBenefit of keyBenefits; let index = $index; track $index) {
      <div class="key-benefit-card">
        <div style="display: flex; gap: 8px;">
          <i class="icon {{keyBenefit.icon}}"></i>
          <h3 class="title">
            {{keyBenefit.title}}
          </h3>
        </div>
        <div [innerHTML]="keyBenefit.description">
        </div>
      </div>
    }
  </div>
</app-section-wrapper>