@use "../../../../assets/variables.scss" as vars;

.key-benefits-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.key-benefit-card {
  width: 32.218%;
  // width: 49.165%;
  padding: 18px;
  background-color: var(--p-surface-900);
  border-radius: var(--p-content-border-radius);
  border: 1px solid var(--p-surface-700);

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .icon{
    font-size: 1.5rem;
    color: var(--p-secondary-color);
  }
}

@media (max-width: 1130px) {
  .key-benefit-card{
    width: 100%;
  }
}
