<!-- Can't put (onBlur) in this control -->

<div class="flex flex-column gap-2">
  <div>
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
  <textarea
    *ngIf="control"
    [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
    pTextarea
    [formControl]="control"
    [id]="control.label"
    (blur)="control.markAsDirty()"
    [autoResize]="true"
    [class]="control.disabled ? 'disabled' : ''"
    ></textarea>
  </div>