<div class="flex flex-column gap-sm">
  <div>
    <label>{{getTranslatedLabel()}}</label>
    <required *ngIf="control?.required"></required>
  </div>
    <div class="p-inputgroup p-fluid">
      <p-autocomplete 
      *ngIf="control"
      [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
      [id]="label"
      [formControl]="control"
      [placeholder]="placeholder"
      [suggestions]="options"
      (completeMethod)="search($event)"
      [forceSelection]="true"
      [multiple]="true" 
      [dropdown]="false"
      [showClear]="true"
      (onHide)="dropdownMarkAsDirty()"
      [completeOnFocus]="true"
      dropdownIcon="pi pi-plus"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
      />
    <span *ngIf="showAddon" (click)="addonClick()" class="p-inputgroup-addon primary">
      <i class="pi {{addonIcon}}"></i>
    </span>
  </div>
</div>