<code style="height: 100%;">
  @for (attributeFormGroup of baseFormService.getFormArrayGroups(entityFormGroup.controls.attributes); track $index; let entityAttributeIndex = $index) {
    <div>
      [<span class="punct">{{attributeFormGroup.controls.name.value}}</span>
      <ng-container *ngIf="attributeFormGroup.controls.value.value != null">(<span class="string">"{{attributeFormGroup.controls.value.value}}"</span>)</ng-container>]
    </div>
  }

  <div>
    <span class="kw">public class</span> <span class="punct"> {{entityFormGroup.controls.name.value}}</span> {{ocb}}
  </div>

  <div style="margin-bottom: 20px;"></div>

  <div style="margin-left: 20px;">
    @for (propertyFormGroup of baseFormService.getFormArrayGroups(entityFormGroup.controls.properties); track $index; let propertyIndex = $index) {
      @for (attributeFormGroup of baseFormService.getFormArrayGroups(propertyFormGroup.controls.attributes); track $index; let propertyAttributeIndex = $index) {
        <div>
          [<span class="punct">{{attributeFormGroup.controls.name.value}}</span>
          <ng-container *ngIf="attributeFormGroup.controls.value.value != null">(<span class="string">"{{attributeFormGroup.controls.value.value}}"</span>)</ng-container>]
        </div>
      }

      <div>
        <span class="kw">public {{propertyFormGroup.controls.dataType.value}}</span> {{propertyFormGroup.controls.name.value}} {{ocb}} <span class="kw">get</span>; <span class="kw">set</span>; {{ccb}} 
      </div>

      <div style="margin-bottom: 20px;"></div>
    }
  </div>

  {{ccb}}
  
</code>