<div style="display: flex; flex-direction: column; gap: 0.5rem;">
    <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
        <label>{{getTranslatedLabel()}}</label>
        <required *ngIf="control?.required"></required>
        <!-- tabindex="-1": Makes the element focusable, but removes it from the tab order. -->
        <i *ngIf="showTooltip" class="{{tooltipIcon}}" style="margin-left: 5px; cursor: pointer;" [pTooltip]="tooltipText" tabindex="-1" tooltipEvent="focus"></i>
    </div>
    <p-calendar
    *ngIf="control"
    [style]="{'width':'100%'}"
    [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid"
    [formControl]="control"
    (onBlur)="control.markAsDirty()"
    dateFormat="dd.mm.yy."
    iconDisplay="input" 
    [showIcon]="true" 
    [showTime]="showTime"
    (onSelect)="setDate($event)"
    />
</div>
