.terminal-circle {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.terminal-message {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
