<div class="flex flex-column gap-2">
    <div *ngIf="inlineLabel === false && getTranslatedLabel() != '' && getTranslatedLabel() != null">
      <label>{{getTranslatedLabel()}}</label>
      <required *ngIf="control?.required"></required>
    </div>
    <div class="p-inputgroup p-fluid" style="margin-top: 0.5rem;">
        <p-checkbox
        *ngIf="control"
        [pTooltip]="getValidationErrrorMessages()" [tooltipEvent]="errorMessageTooltipEvent" tooltipPosition="bottom" [tooltipDisabled]="control.valid" tooltipStyleClass="spiderly-tooltip-invalid" 
        [formControl]="control"
        [value]="inlineLabel ? label : null"
        [id]="label"
        [binary]="true"
        />
    </div>
</div>