@use "../../../../assets/variables.scss" as vars;

.c-sharp-class-form {
  background-color: vars.$surface-light;
  border-radius: 10px;
  width: 100%;
  padding: 18px;
}

.code-editor {
  background-color: vars.$surface-light;
  border-radius: 10px;
  width: 100%;
  padding: 18px;
}

.code-editor .kw {
  color: #c678dd;
}

.code-editor .punct {
  color: #56b6c2;
}

.playground-code-block-wrapper {
  display: flex;
  gap: 18px;
}

@media (max-width: vars.$md) {
  .playground-code-block-wrapper {
    flex-direction: column;
  } 
}

.web-page {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: vars.$surface-light;
  min-height: 500px;
  width: 100%;
  font-size: 90%;
  border-radius: 10px;
}

@media (max-width: vars.$md) {
  .web-page {
    // width: 83vw;
  }
}

.last-child-zero-margin{
	margin-bottom: 0px !important;
}

.card-margin-bottom{
	margin-bottom: 18px;
}

.icon-hover {
	cursor: pointer;
	padding: 7px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.icon-hover:hover {
	background-color: vars.$hover;
}