@use '../../../../assets/variables.scss' as vars;

.code-editor {
  background-color: vars.$surface-light;
  border-radius: 10px;
  width: 100%;
  padding: 32px;
}

.web-page {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: vars.$surface-light;
  min-height: 500px;
  width: 100%;
  font-size: 90%;
  border-radius: 10px;
}

@media (max-width: vars.$md) {
  .web-page {
    width: 88vw;
  }
}