<app-section-wrapper parts="one" text-align="left" >
  
  <form>
    @for (entityFormGroup of getFormArrayGroups(entitiesFormArray); track $index; let entityIndex = $index) {
      <pre class="code-editor">
@for (attributeFormGroup of getEntityAttributesFormArrayGroups(entityFormGroup); track $index; let entityAttributeIndex = $index) {
  [{{attributeFormGroup.controls.name.value}}{{attributeFormGroup.controls.value.value == null ? '' : `(${attributeFormGroup.controls.value.value})`}}] <i class="pi pi-ellipsis-h icon-hover" (click)="entityAttributeMenuItemClick(entityAttributeIndex, $event)"></i>
}
<p-button size="small" label="Add new attribute" icon="pi pi-plus"></p-button>
public class {{entityFormGroup.controls.name.value}} {{ocb}} <i class="pi pi-ellipsis-h icon-hover" (click)="entityMenuItemClick(entityIndex, $event)"></i>
  @for (propertyFormGroup of getPropertiesFormArrayGroups(entityFormGroup); track $index; let propertyIndex = $index) {
    @for (attributeFormGroup of getPropertyAttributesFormArrayGroups(propertyFormGroup); track $index; let propertyAttributeIndex = $index) {
    [{{attributeFormGroup.controls.name.value}}{{attributeFormGroup.controls.value.value == null ? '' : `(${attributeFormGroup.controls.value.value})`}}] <i class="pi pi-ellipsis-h icon-hover" (click)="propertyAttributeMenuItemClick(propertyAttributeIndex, $event)"></i>
    }
    <p-button size="small" label="Add new attribute" icon="pi pi-plus"></p-button>
    public {{propertyFormGroup.controls.dataType.value}} {{propertyFormGroup.controls.name.value}} {{ocb}} get; set; {{ccb}} <i class="pi pi-ellipsis-h icon-hover" (click)="propertyMenuItemClick(propertyIndex, $event)"></i>
    }
    
    <p-button size="small" label="Add new property" icon="pi pi-plus"></p-button>
{{ccb}}

<p-button size="small" label="Save" icon="pi pi-save"></p-button></pre>
    }
    <p-button label="Add new entity" icon="pi pi-plus"></p-button>
  </form>

  <div class="web-page">
      <app-layout [menu]="menu" [entities]="entities"></app-layout>
  </div>
  
</app-section-wrapper>

<p-menu #entityMenu [model]="entitiesCrudMenu" [popup]="true" appendTo="body"></p-menu>
<p-menu #entityAttributeMenu [model]="entityAttributesCrudMenu" [popup]="true" appendTo="body"></p-menu>
<p-menu #propertyMenu [model]="propertiesCrudMenu" [popup]="true" appendTo="body"></p-menu>
<p-menu #propertyAttributeMenu [model]="propertyAttributesCrudMenu" [popup]="true" appendTo="body"></p-menu>
