<div style="display: flex; flex-direction: column; gap: 0.5rem;">
    <div *ngIf="getTranslatedLabel() != '' && getTranslatedLabel() != null">
        <label>{{getTranslatedLabel()}}</label>
        <!-- FT: It's okay for this control, because for the custom uploads where we are not initializing the control from the backend, there is no need for formControl. -->
        <required *ngIf="control?.required || required"></required>
    </div>

    <p-fileupload 
    [files]="files" 
    [disabled]="disabled" 
    [name]="control?.label ?? label" 
    [multiple]="multiple" 
    [accept]="acceptedFileTypesCommaSeparated" 
    [maxFileSize]="10000000" 
    (onSelect)="filesSelected($event)"
    [class]="control?.invalid && control?.dirty ? 'control-error-border' : ''"
    >
        <ng-template #header let-files let-chooseCallback="chooseCallback" let-uploadCallback="uploadCallback">
            <div style="display: flex; flex-direction: column; justify-content: space-between; flex: 1; gap: 1rem;">
                <div style="display: flex; gap: 0.5rem;">
                    <p-button [disabled]="disabled" (onClick)="choose($event, chooseCallback)" icon="pi pi-upload" [rounded]="true" [outlined]="true" size="small" />
                </div>
            </div>
        </ng-template>
        <ng-template #content let-files let-removeFileCallback="removeFileCallback">
            <div *ngIf="files?.length > 0">
                <div style="display: flex; justify-content: center; padding: 0; gap: 1.25rem;">
                    <div *ngFor="let file of files; let index = index" style="justify-content: center; overflow: hidden; margin: 0; padding: 0.75rem; display: flex; flex-direction: column; align-items: center; gap: 0.75rem;">
                        <div *ngIf="isImageFileType(file.type)" class="image-container">
                            <img role="presentation" [src]="file.objectURL"/>
                        </div>
                        <div *ngIf="isExcelFileType(file.type)" class="excel-container">
                            <div class="excel-details">
                                <i class="pi pi-file-excel" style="color: green; margin-right: 4px;"></i>
                                <span class="file-name">{{ file.name }}</span>
                            </div>
                        </div>
                        <p-button [disabled]="disabled" icon="pi pi-times" (onClick)="fileRemoved(removeFileCallback, index)" [outlined]="true" [rounded]="true" size="small" severity="danger" />
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #file> </ng-template>
        <ng-template #empty>
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 9px;">
                <i class="pi pi-cloud-upload" style="border: solid; border-width: 2px; border-radius: 50%; padding: 1.25rem; font-size: 3rem; color: var(--surface-400); border-color: var(--surface-400);"></i>
                <p style="margin-top: 1rem; margin-bottom: 0;">Drag and drop files here to upload</p>
            </div>
        </ng-template>
    </p-fileupload>
</div>
