@use './variables.scss' as vars;
@import "primeicons/primeicons.css";

:root{
  --background-color: #0a0a0a;
  --text-color: #e5e7eb;
  --p-text-color: #e5e7eb;
  --p-button-outlined-primary-border-color: #db2777 !important;

  --p-inputtext-padding-y: 0.45rem !important;
  // --p-form-field-background: #9ca3af !important;

  --p-select-padding-y: 0.45rem !important;

  --p-datatable-header-background: #2f2f36 !important;
  --p-datatable-header-color: var(--text-color) !important;
  --p-datatable-header-border-color: #3a3a3f !important;
  --p-datatable-header-border-width: 2px !important;

  --p-datatable-header-cell-background: #3a3a3f !important;
  --p-datatable-header-cell-border-color: #4a4a4f !important;
  --p-datatable-header-cell-color: var(--text-color) !important;

  --p-content-background: #3a3a3f !important;
  --p-content-border-color: #2f2f36 !important;
  --p-datatable-body-cell-border-color: #4a4a4f !important;
  --p-content-color: var(--text-color) !important;

  --p-paginator-background: #2f2f36 !important;
  --p-paginator-color: var(--text-color) !important;
  --p-paginator-border-radius: 0 0 10px 10px !important;
  --p-paginator-nav-button-color: #9ca3af !important;
  --p-paginator-nav-button-width: 31px !important;
  --p-paginator-nav-button-height: 31px !important;

  --p-dialog-background: var(--background-color) !important;
  --p-dialog-color: var(--text-color) !important;
  --p-confirm-dialog-icon-color: var(--text-color) !important;
  --p-dialog-border-color: #2f2f36 !important;

  --p-panel-header-background: #1e1e22 !important;
  --p-panel-header-color: #e5e7eb !important;
  --p-panel-header-border-color: #2f2f36 !important;
  --p-panel-border-color: #2f2f36 !important;
  --p-panel-content-padding: 1.125rem !important;
  --p-panel-header-padding: 0.75rem 1.125rem !important;
  --p-panel-background: #2f2f36 !important;

  --p-navigation-item-color: #e5e7eb !important;
  --p-menu-item-focus-background: #4a4a4f !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: vars.$background-color;
  color: vars.$text-color;
  margin: 0px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.1;
  margin: 0;
}

code, pre {
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: var(--p-primary-800);
}

.p-tooltip-text {
  font-size: 14px;
}

.p-toast{
  z-index: 1003;
}