@use "./variables.scss" as vars;
@import "primeicons/primeicons.css";
@import "./spiderly-code-highlight.css";

:root {
  --background-color: #0a0a0a;
  --p-secondary-color: #00f0b5;

  --p-inputtext-padding-y: 0.45rem !important;
  --p-form-field-background: var(--p-surface-900) !important;

  --p-select-padding-y: 0.45rem !important;

  --p-paginator-border-radius: 0 0 6px 6px !important;
  --p-paginator-nav-button-width: 31px !important;
  --p-paginator-nav-button-height: 31px !important;

  --p-panel-content-padding: 1.125rem !important;
  --p-panel-header-padding: 0.65rem 1.125rem !important;
  --p-panel-toggleable-header-padding: var(--p-panel-header-padding) !important;

  --p-button-icon-only-width: 30px !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--p-surface-950);
  color: var(--p-text-color);
  margin: 0px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

@media (max-width: vars.$md) {
  h1{
    margin-bottom: 7px;
  } 
}

code,
pre {
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: var(--p-primary-400);
}

a:hover {
  text-decoration: underline;
}

.quotation {
  padding-left: 18px;
  border-left: var(--p-primary-900) solid;
}

.gradient-title {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  white-space: normal;

  background-image: linear-gradient(
    to right,
    var(--p-primary-color),
    var(--p-secondary-color)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
  }
}

.text-below-title {
  font-size: 1.1rem;
  color: var(--p-surface-400);

  @media (min-width: vars.$md) {
    font-size: 1.25rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;

  @media (min-width: vars.$md) {
    font-size: 3rem;
  }
}

.text-below-subtitle {
  font-size: 1rem;
  color: var(--p-surface-300);

  @media (min-width: vars.$md) {
    font-size: 1.1rem;
  }
}

.p-tooltip-text {
  font-size: 14px;
}

.p-toast {
  z-index: 1004;
}

.code-block{
  padding: 0.4px 4px;
  background-color: var(--p-surface-700);
  border-radius: 4px;
}

.card{
  padding: 18px;
  border: 1px solid var(--p-surface-700);
  border-radius: var(--p-content-border-radius);
  overflow: auto;
}

ul, ol {
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

.icon-link {
  cursor: pointer;
  transition: color 100ms ease;
  color: var(--p-surface-400);

  &:hover {
    color: var(--p-text-color);
    text-decoration: none;
  }
}

.side-menu-link {
  @extend .icon-link;
  width: fit-content;  
}

.p-menuitem a.p-menuitem-link:hover,
.p-menu-item a.p-menu-item-link:hover,
a.p-menuitem-link:hover,
a.p-menu-item-link:hover {
  text-decoration: none !important;
}

.main-and-footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

app-footer {
  margin-top: auto;
}
