@use "./variables.scss" as vars;
@import "primeicons/primeicons.css";

:root {
  --background-color: #0a0a0a;
  --p-secondary-color: #00f0b5;

  --p-inputtext-padding-y: 0.45rem !important;
  --p-form-field-background: var(--p-surface-900) !important;

  --p-select-padding-y: 0.45rem !important;

  --p-paginator-border-radius: 0 0 6px 6px !important;
  --p-paginator-nav-button-width: 31px !important;
  --p-paginator-nav-button-height: 31px !important;

  --p-panel-content-padding: 1.125rem !important;
  --p-panel-header-padding: 0.65rem 1.125rem !important;
  --p-panel-toggleable-header-padding: var(--p-panel-header-padding) !important;

  --p-button-icon-only-width: 30px !important;
}

body {
  font-family: "Inter", sans-serif;
  // background-color: var(--p-surface-950);
  color: var(--p-text-color);
  margin: 0px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

@media (max-width: vars.$md) {
  h1{
    margin-bottom: 7px;
  } 
}

code,
pre {
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: var(--p-primary-400);
}

.quotation {
  padding-left: 18px;
  border-left: var(--p-primary-900) solid;
}

.gradient-title {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  white-space: normal;

  background-image: linear-gradient(
    to right,
    var(--p-primary-color),
    var(--p-secondary-color)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
  }
}

.text-below-title {
  font-size: 1.1rem;
  color: var(--p-surface-400);

  @media (min-width: vars.$md) {
    font-size: 1.25rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;

  @media (min-width: vars.$md) {
    font-size: 3rem;
  }
}

.text-below-subtitle {
  font-size: 1rem;
  color: var(--p-surface-300);

  @media (min-width: vars.$md) {
    font-size: 1.1rem;
  }
}

.p-tooltip-text {
  font-size: 14px;
}

.p-toast {
  z-index: 1004;
}

.code-block{
  padding: 0.4px 4px;
  background-color: var(--p-surface-700);
  border-radius: var(--p-content-border-radius);
}

// Common styles
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 14px;
}

.gap-lg {
  gap: 18px;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mb-md {
  margin-bottom: 14px;
}

.mb-lg {
  margin-bottom: 20px;
}

.ml-md {
  margin-left: 20px;
}

.mt-sm {
  margin-top: 1rem;
}

.ml-sm {
  margin-left: 1rem;
}

.ml-4px {
  margin-left: 4px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-right {
  text-align: right;
}

.text-red {
  color: red;
}

// Component specific styles
.terminal-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.terminal-message {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.p-inputgroup-addon {
  &.primary {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    
    i {
      color: #fff;
    }
  }
}

// Panel styles
.p-panel {
  overflow: hidden;
  
  &-icons {
    display: flex;
    align-items: center;
  }
  
  &-header {
    cursor: pointer;
  }
}

// Table styles
.p-datatable {
  border-radius: var(--p-content-border-radius);
  border: 1px solid var(--p-surface-700);
  
  &-thead {
    position: unset !important;
  }
  
  &-header {
    border-radius: 6px 6px 0 0;
  }
}

// File upload styles
.p-fileupload-header {
  padding: 12px 18px !important;
}

// Number circle styles
.number-circle {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  padding: 5px;
  background: var(--p-primary-color);
  border: 1px solid var(--p-primary-color);
  color: white;
  text-align: center;
  display: inline-block;
}