$md: 770px;
$page-width: 1100px;
$background-color: #0f0f10;
$surface: #1e1e22;
$surface-light: #2f2f36;
$surface-lighter: #4c4955;
$hover: #2a2a2f;
$accent: #00f0b5;
$highlight: #c084fc;
$text-color: #e5e7eb;
$primary-color: #db2777;
$separator-color: #2d2d31;
$primary-color-dark: #be185d;
$gray-color: #9ca3af;