<app-section-wrapper textAlign="center">
  <div>

    <h1 style="margin-bottom: 15px;">
      <div class="gradient-title">Build Apps.</div>
      <div class="title">Fast.</div>
    </h1>

    <div class="text-below-title" style="margin-bottom: 30px;">
      Generate front-end and back-end CRUD operations code from C# classes, with
      full customization. Code updates automatically with every class change at
      the right place in the project.
    </div>

    <div>
      <p-button [routerLink]="['/playground']" label="Playground" icon="pi pi-play"></p-button>
    </div>
  </div>
</app-section-wrapper>
