::ng-deep .hero-wrapper > div {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
      repeating-linear-gradient(
        0deg,
        var(--p-surface-500) 0px,
        var(--p-surface-500) 1px,
        transparent 1px,
        transparent 40px
      ),
      repeating-linear-gradient(
        90deg,
        var(--p-surface-500) 0px,
        var(--p-surface-500) 1px,
        transparent 1px,
        transparent 40px
      );
    background-size: 40px 40px;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);
  }

  .container-one {
    position: relative;
    z-index: 1;
  }
}
