<app-section-wrapper textAlign="center">
  <div>
    <h1 style="margin-bottom: 15px">
      <!-- <div class="gradient-title">Generate Web Apps.</div> -->
      <div class="gradient-title">Generate Web Apps.</div>
      <!-- <div class="gradient-title">Web App Boilerplate Generator.</div> -->
      <!-- <div class="title">Customizable.</div>
      <div class="title">Correct.</div> -->
      <!-- <div class="title">Fast.</div> -->
      <div class="title">Forget Boilerplate Code.</div>
    </h1>

    <!-- <div class="text-below-title" style="margin-bottom: 30px">
      Generate front-end and back-end code by describing the app with C#
      classes, properties and attributes. Let Spiderly handle the boilerplate
      code, allowing full customization and focus on specific logic. Code
      updates automatically in the project with every class change.
    </div> -->
    <div class="text-below-title" style="margin-bottom: 30px">
      <!-- Generate whole web app boring boilerplate code by just writing C# classes. 
      Let Spiderly handle the boilerplate
      code, allowing full customization and focus on specific logic. Code
      updates automatically in the project with every class change. -->

      Spiderly is a C# library that turns your plain C# classes into a complete .NET Web API + Angular web app.
      Automatically updating all the boilerplate code as your classes evolve.
      You’re free to add your own logic and change anything in the generated app exactly how you want.

<!--       
      Generate front-end and back-end code by describing the app with C#
      classes, properties and attributes. Let Spiderly handle the boilerplate
      code, allowing full customization and focus on specific logic. Code
      updates automatically in the project with every class change. -->
    </div>
<!-- Scalability, Correct, Fast, Customizable, Focus -->
<!--  -->
    <div>
      <p-button
        [routerLink]="['/playground']"
        label="Try Live Demo"
        ></p-button>
        <!-- icon="pi pi-play" -->
      <!-- Try Live Example -->
      <!-- Try Live Demo -->
      <!-- Try it out -->
      <!-- Playground -->
      <!-- Try it now -->
    </div>
  </div>
</app-section-wrapper>
