@use '../../../../assets/variables.scss' as vars;

.gradient-title {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  white-space: normal;

  background-image: linear-gradient(to right, var(--p-primary-color), var(--p-secondary-color));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
    white-space: nowrap;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;

  @media (min-width: vars.$md) {
    font-size: 4.5rem;
  }
}

.text-below-title {
    font-size: 1.1rem;
    color: var(--p-surface-400);
  
    @media (min-width: vars.$md) {
      font-size: 1.25rem;
    }
  }