<app-section-wrapper textAlign="center">
  <div>
    <h1 style="margin-bottom: 15px">
      <div class="gradient-title">Generate Web Apps.</div>
      <div class="title">Forget Boilerplate Code.</div>
    </h1>
    <div class="text-below-title" style="margin-bottom: 30px">
      Spiderly is a .NET (C#) library that turns C# classes into a
      complete .NET + Angular web apps, automatically updating all the
      boilerplate code as your classes evolve. You're free to add your own logic
      and customize the generated app exactly how you want.
    </div>
    <div>
      <p-button [routerLink]="['/playground']" label="Try Live Demo"></p-button>
    </div>
  </div>
</app-section-wrapper>
