@use '../../../assets/variables.scss' as vars;

.container-one {
  max-width: 1100px;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;

  @media (min-width: vars.$md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
