@use '../../../assets/variables.scss' as vars;

.container-one {

    padding-left: 1.25rem; 
    padding-right: 1.25rem;
  
    padding-top: 2rem;     
    padding-bottom: 2rem;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  
    @media (min-width: vars.$md) {
      padding-top: 5rem;      
      padding-bottom: 5rem;
    }
  }

  .container-two {
    @extend .container-one;

    @media (min-width: vars.$md) {
      flex-direction: row;    
    }
  }