<div
  [style]="'width: 100%;'"
  [style.background-color]="
    backgroundColor === 'light' ? 'var(--p-surface-900)' : backgroundColor === 'dark' ? '' : ''
  "
  [style.background-image]="
    backgroundColor === 'light'
      ? 'radial-gradient(ellipse at bottom left, var(--p-surface-950), transparent 50%)'
      : backgroundColor === 'dark'
        ? 'radial-gradient(ellipse at top right, var(--p-surface-800), transparent 50%)'
        : ''
  "
>
  <div class="container-one" [style]="{ 'text-align': 'left' }">
    <ng-content></ng-content>
  </div>
</div>
