<div class="layout-topbar">
  <div class="layout-topbar-logo" tabindex="0">
    <span>{{companyName.toLocaleUpperCase()}}</span>
  </div>
  
  <div
  #menubutton
  class="layout-menu-button"
  (click)="layoutService.onMenuToggle()"
  tabindex="0"
  >
    <i class="pi pi-bars"></i>
  </div>

  <div
    #topbarmenu
    class="profile-button"
    >
    <div
      #topbarprofiledropdownmenubutton
      (click)="layoutService.showProfileDropdownSidebar()"
    >
    <p-avatar
        *ngIf="showProfileIcon"
        [label]="avatarLabel"
        [style]="{ 'background-color': 'var(--p-primary-600)', 'color': '#fff', 'cursor': 'pointer', 'width': '34px', 'height': '34px', 'font-size': '18px' }"
        shape="circle"
        />
    </div>
    <div
      #topbarprofiledropdownmenu
      (document:click)="onDocumentClick($event)"
    >
    <div *ngIf="layoutService.state.profileDropdownSidebarVisible" style="width: 260px; position: absolute; right: 26px; top: 60px; padding: 13px;" class="card">
      <div style="display: flex; flex-direction: column; justify-content: center; text-align: center; gap: 10px;">
        <p-avatar
          [label]="avatarLabel"
          size="xlarge"
          [style]="{ 'background-color': 'var(--p-primary-600)', 'color': '#fff', 'cursor': 'pointer', 'margin': 'auto' }"
          />
        <div>{{currentUser.email}}</div>
      </div>
      <div style="margin-top: 15px;">
        <div *ngFor="let item of menuItems" [style]="item.showSeparator ? 'margin-top: 5px;' : ''">
          <div *ngIf="item.showSeparator" class="gray-separator"></div>
          <div class="hover-card" style="display: flex; align-items: center; gap: 5px; margin-top: 5px; font-size: 14px;">
            <i 
              class="pi pi-fw {{item.icon}} primary-color" 
              style="font-size: 14px; position: relative;"
              >
              <span *ngIf="item.showNotificationBadge && unreadNotificationsCount != 0" class="badge"></span>
            </i>
            <div> {{item.label}} </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  