<p-panel 
[showHeader]="showPanelHeader"
[ngClass]="{
    'multiple-panel-first-without-header': isFirstMultiplePanel && !showPanelHeader,
    'multiple-panel-first': isFirstMultiplePanel,
    'multiple-panel-middle-without-header': isMiddleMultiplePanel && !showPanelHeader,
    'multiple-panel-middle': isMiddleMultiplePanel,
    'multiple-panel-last-without-header': isLastMultiplePanel && !showPanelHeader,
    'multiple-panel-last': isLastMultiplePanel,
    'panel-border': !isFirstMultiplePanel,
    'spiderly-panel': true,
}"
[toggleable]="true"
toggler="header"
[collapsed]="collapsed"
expandIcon="pi pi-chevron-up"
collapseIcon="pi pi-chevron-down"
>
    <ng-template pTemplate="header">
        <div>
            <ng-content select="panel-header"></ng-content>
            <ng-content select=".panel-header-selector"></ng-content>
        </div>
    </ng-template>

    <ng-template pTemplate="icons">
        <div *ngIf="showCrudMenu && crudMenu">
            <i class="pi pi-ellipsis-h icon-hover" (click)="menuItemClick(index, $event)"></i>
            <!-- FT: [tabindex]="undefined": https://github.com/primefaces/primeng/issues/13934 -->
            <p-menu #menu [model]="crudMenu" [popup]="true" [tabindex]="undefined" appendTo="body"></p-menu>
        </div>
        <div *ngIf="showRemoveIcon">
            <i class="pi pi-minus icon-hover error-color-light" (click)="removeItemClick()"></i>
        </div>
    </ng-template>

    <div class="panel-body-wrapper">
        <ng-content select="panel-body"></ng-content>
        <ng-content select=".panel-body-selector"></ng-content>
    </div>

    <ng-content select="panel-footer"></ng-content>

</p-panel>
