.toc {
  margin-bottom: 18px;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 12px;
}
h3 {
  margin-bottom: 9px;
}
.doc-section {
  margin-bottom: 18px;
}

.namespace {
  color: var(--p-surface-500);
  font-size: 0.9em;
  margin-bottom: 15px;
}
