<spiderly-panel>
    <panel-header></panel-header>

    <panel-body>
        <form [formGroup]="formGroup" class="grid">
            @for (property of entity.properties; track $index) {
                @if (getUIControlTypeCode(property) === UIControlTypeCodes.Autocomplete) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-autocomplete 
                        [control]="formGroup.getFormControl(property.name)"
                        [options]="this.dropdownFilteredOptions[property.dataType]"
                        (onTextInput)="search($event, property.dataType)"
                        ></spiderly-autocomplete>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Calendar) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-calendar [control]="formGroup.getFormControl(property.name)"></spiderly-calendar>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.CheckBox) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-checkbox [control]="formGroup.getFormControl(property.name)"></spiderly-checkbox>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.ColorPick) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-colorpick [control]="formGroup.getFormControl(property.name)"></spiderly-colorpick>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Decimal) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-number
                        [control]="formGroup.getFormControl(property.name)"
                        [maxFractionDigits]="2"
                        ></spiderly-number>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Dropdown) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-dropdown 
                        [control]="formGroup.getFormControl(property.name)"
                        [options]="this.dropdownOptions[property.dataType]"
                        ></spiderly-dropdown>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Editor) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12'">
                        <spiderly-editor [control]="formGroup.getFormControl(property.name)"></spiderly-editor>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.File) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12'">
                        <spiderly-file [control]="formGroup.getFormControl(property.name)"></spiderly-file>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Number) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-number [control]="formGroup.getFormControl(property.name)"></spiderly-number>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.Password) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-password [control]="formGroup.getFormControl(property.name)"></spiderly-password>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.TextArea) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12'">
                        <spiderly-textarea [control]="formGroup.getFormControl(property.name)"></spiderly-textarea>
                    </div>
                }
                @else if (getUIControlTypeCode(property) === UIControlTypeCodes.TextBox) {
                    <div [class]="getUIControlWidth(property) ?? 'col-12 md:col-6'">
                        <spiderly-textbox [control]="formGroup.getFormControl(property.name)"></spiderly-textbox>
                    </div>
                }
            }
        </form>

    </panel-body>

    <panel-footer>
        <p-button (onClick)="save()" label="Save" icon="pi pi-save" size="small"></p-button>
        <p-button (onClick)="return()" label="Return" icon="pi pi-undo" [outlined]="true" size="small" severity="secondary"></p-button>
    </panel-footer>
</spiderly-panel>