<div style="border-radius: var(--p-content-border-radius); overflow: hidden;">
  <p-table 
  #dt 
  [value]="data" 
  class="spiderly-table" 
  styleClass="p-datatable-gridlines" 
  [rows]="4" 
  [paginator]="true" 
  [totalRecords]="data.length"
  >
  <!-- NOTE FT: Don't add these because they make bug with filter dialogs
  scrollHeight="flex"
  [scrollable]="true"  -->
      <ng-template #caption>
          <div class="table-header" style="overflow-x: auto;">
            <div style="display: flex; align-items: center; gap: 8px;">
              <i class="pi pi-list"></i>
              <div>{{tableTitle}}</div>
            </div>
            <div style="display: flex; gap: 8px;">
              <button pButton size="small" label="Export to Excel" class="p-button-outlined" style="flex: none;" icon="pi pi-download" (click)="exportListToExcel()" severity="secondary"></button>
            </div>
          </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 0rem;">
            Actions
          </th>
          <ng-container *ngFor="let col of cols;">
            <th [style]="getColHeaderWidth(col.dataType)">
              {{col.name}}
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-index="rowIndex">
          <tr>
            <td>
              <div style="display: flex; align-items: center; justify-content: center; gap: 18px;">
                  <span pTooltip="Edit" tooltipStyleClass="smaller-text" class="pi pi-pencil" style="cursor: pointer; color: var(--p-primary-400);" (click)="editRow(index)"></span>
                  <span pTooltip="Delete" tooltipStyleClass="smaller-text" class="pi pi-trash" style="cursor: pointer; color: var(--p-surface-500);" (click)="deleteRow(index)"></span>
              </div>
            </td>
            <ng-container *ngFor="let col of cols;">
              <td [pTooltip]="getRowData(rowData, col)" tooltipStyleClass="smaller-text" [style]="getStyleForBodyColumn(col)">
                {{getRowData(rowData, col)}}
              </td>
            </ng-container>
          </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td [attr.colspan]="cols.length + 1">No records found</td> <!-- FT: + 1 for actions -->
        </tr>
      </ng-template>
      <ng-template #paginatorleft>
        Total records: {{data.length}}
      </ng-template>
      <ng-template #paginatorright>
        <div style="display: flex; justify-content: end; gap: 10px;">
          <p-button size="small" label="Add new" icon="pi pi-plus" (onClick)="navigateToDetails(-1)"></p-button>
        </div>
      </ng-template>
  </p-table>
</div>