@use "../../../../assets/variables.scss" as vars;

.carousel-item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  padding: 18px;
  border: 1px solid var(--p-surface-700);
  border-radius: var(--p-content-border-radius);
}

@media (max-width: vars.$md) {
  .carousel-item-wrapper {
    flex-direction: column;
  }
}

.terminal-wrapper {
  padding: 18px;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  font-size: 0.875rem;
  border: 1px solid var(--p-surface-700);
  border-radius: var(--p-content-border-radius);
  line-height: 1.5;
  overflow: hidden;

  .title{
    font-size: 1.2rem;
  }
}

.terminal-circle {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.terminal-message {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

//#region Steps

.getting-started-card {
  overflow: auto;
  width: 100%;
  padding: 9px;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;

    .index{
      color: var(--p-secondary-color);
    }
  }
}

.getting-started-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: vars.$md) {
  .getting-started-wrapper {
    flex-direction: column;
  }
}

::ng-deep {
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//#endregion
